@charset "UTF-8";


/* visual*/

#visual {
    width: 100%;
    height: 100vh;
    background: #777;
    overflow: hidden;
    position: relative;
    font-size: 0;
}
#visual::before {
    background: url(../images/pattern.png);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
#visual video {
    width: 100%;
    pointer-events: none;
}
/* #visual iframe {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
    pointer-events: none;
} */
#visual .textbox {
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 700px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
#visual .textbox strong {
    color: white;
    font-size: 200px;
    margin-bottom: 30px;
    font-weight: bold;
    animation: stoo 2s forwards;
    opacity: 0;
    position: relative;
    left: -100px;
}
@keyframes stoo {
    0% { opacity:0; left: -100px}
    100% { opacity:1; left: 0px}
}
#visual .textbox .content {
    display: flex;
    flex-direction: column;
}
#visual .textbox span {
    color: white;
    font-size: 40px;   
    margin-bottom: 20px;
    animation: textSpan 2s forwards;
    opacity: 0;
    position: relative;
    right: -100px;
    animation-delay: 1s
}
@keyframes textSpan {
    0% {opacity: 0; right: -100px;}
    100% {opacity: 1; right: 0px;}
}
#visual .textbox p {
    font-size: 24px;
    color: white;
    animation: textP 2s forwards;
    opacity: 0;
    position: relative;
    right: -100px;
    animation-delay: 2s
}
@keyframes textP {
    0% {opacity: 0; left: -100px;}
    100% {opacity: 1; left: 0px;}
}

/* section1 */

#section1  {
    padding: 120px 0;
}
#section1 h2  {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}
#section1 .img_box    {
    display: flex;
    gap: 30px;
}
#section1 .img_box .big_img {
    width: 710px;
    height: 490px;
    position: relative;
    overflow: hidden;
}
#section1 .img_box .big_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* 오브젝트 배경에 딱 맞게 하는거 */
}
#section1 .img_box .big_img .text {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s cubic-bezier(.13,.56,.07,1.01);
    flex-direction: column;
}
#section1 .img_box .big_img .text .cate {
    font-size: 22px;
    margin-top: 20px;
}
#section1 .img_box .big_img.on .text {
    left: 50%;
}
#section1 .img_box .small_img {
    display: flex;
    gap: 30px 7px;
    width: 470px;
    flex-wrap: wrap;

}
#section1 .img_box .small_img li {
    width: 220px;
    height: 250px;
    overflow: hidden;
}
#section1 .img_box .small_img li.on figure   {
    border: 1px solid white;
    box-sizing: border-box;
}
#section1 .img_box .small_img li.on figure img     {
    transform: scale(1.1);
}

#section1 .img_box .small_img li figure {
    width: 220px;
    height: 145px;
    overflow: hidden;
}
#section1 .img_box .small_img li img    {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}
#section1 .img_box .small_img li h3 {
    font-size: 24px;
    line-height: 1.5;
    margin-top: 15px;
}
#section1 .img_box .small_img li .cate {
    font-size: 16px;
    color: #777;
    margin-top: 15px;
}

/* section2 */

#section2 {
    padding: 120px 0;
    background: linear-gradient(45deg, #000000, #434343);
}
#section2 .centerbox1200 {
    display: flex;
    gap: 50px;
}
#section2 .centerbox1200 .textbox {
    flex-basis: 500px;
}
#section2 .centerbox1200 .textbox strong {
    font-size: 65px;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
    line-height: 1.2;
}
#section2 .centerbox1200 .textbox p {
    font-size: 24px;
    color: white;
    margin: 40px auto ;
    line-height: 1.5;
    word-break: keep-all;
}
#section2 .centerbox1200 .textbox a {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;    
}
#section2 .content {flex-basis: 760px;}
#section2 .content ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#section2 .content li {
    width: 230px;
    background: rebeccapurple;
    margin-right: 15px;
}
#section2 .content li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section2 .swiper .swiper-button-next   {
    right: 0;
    bottom: 0;
    top: auto;
    background: #000;
    width: 40px;
    height: 40px;
    z-index: 999;
}
#section2 .swiper .swiper-button-prev   {
    left: auto;
    right: 40px;
    bottom: 0;
    top: auto;
    background: #000;
    width: 40px;
    height: 40px;
    z-index: 999;
}
#section2 .swiper .swiper-button-next::after    {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#section2 .swiper .swiper-button-prev::after    {
    font-size: 20px;
    font-weight: bold;
    color: white;
}
#section2 .swiper .swiper-pagination    {
    color: #000;
}

/* section3 */

#section3 {
    padding: 120px 0;
}
#section3 .centerbox1200 h2 {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}
#section3 .centerbox1200 .content li {
    margin-bottom: 40px;
}
#section3 .centerbox1200 .content li a {
    display: flex;
}
#section3 .centerbox1200 .content li a .num     {
    font-size: 30px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section3 .centerbox1200 .content li a .thumb     {
    width: 210px;
    height: 210px;
    margin-right: 50px;
}
#section3 .centerbox1200 .content li a .thumb img     {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section3 .centerbox1200 .content li a article     {
    flex-grow: 1;
}
#section3 .centerbox1200 .content li a article h3     {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#section3 .centerbox1200 .content li a article .cont     {
    font-size: 20px;
    color: #cbcbcb;
}
#section3 .centerbox1200 .content li a article .score   {
    display: flex;
    margin-top: 30px;
}
#section3 .centerbox1200 .content li a article .score span  {
    background: url(../images/star_gray.png);
    width: 30px;
    height: 29px;
}
#section3 .centerbox1200 .content li a article .score span.on   {
    background: url(../images/star_red.png);
}
#section3 .centerbox1200 .content li a .date     {
    width: 150px;
    margin-top: 90px;
    font-size: 24px;
}
#section3 .centerbox1200 .content li a .name     {
    width: 70px;
    margin-top: 90px;
    font-size: 24px;
}







/* 미디어쿼리 */
@media screen and (max-width:1600px){
    #visual {height: auto;}
    .centerbox1200  {padding: 0 50px;}    
}
@media screen and (max-width:1260px){
    #section1 .img_box {flex-direction: column;}
    #section1 .img_box .big_img {width: auto;}
    #section1 .img_box .small_img {width: auto; height: auto;}
    #section1 .img_box .small_img li figure {width: auto;}

    .floating_menu  {display: none;}

}
@media screen and (max-width: 1000px) /* = 769~ 1000이라는 뜻임 */  {
    header nav .gnb li {font-size: 17px;}
    header nav .gnb li a {padding: 20px 25px;}
    #section1 .img_box .small_img li {width: 40%; flex-grow: 1;}
}


@media screen and (max-width: 768px)/* = 0~768사이즈 일때만 어떻게 보일건지 */ {
    
    .centerbox1200  {padding: 0 20px;}

    header nav {display: none;}
    .mo_menu {position: absolute; left: 20px; top: 20px; width: 40px; height: 40px; z-index: 12;border-radius: 20px; border: 1px solid white;}
    .mo_menu span   {
        position: absolute; width: 24px; height: 2px; background:white; left: 50%; top: 50%; transform: translate(-50%,-50%); transition: 0.3s;
    }
    .mo_menu span::before,   
    .mo_menu span::after    {content: ""; position: absolute; width: 100%; height: 100%; background: white; left: 0; transition: 0.3s;}
    .mo_menu span::before   {top: -8px;}
    .mo_menu span::after    {top: 8px;}

    .mo_menu.on span   {background: rgba(255, 0, 0, 0.0);}
    .mo_menu.on span::before   {top: 0; transform: rotate(45deg);} 
    .mo_menu.on span::after  {top: 0; transform: rotate(-45deg);} 
    header .mo_gnb_box {position: fixed; width: 100%; height: 100vh; background: rgba(0, 0, 0, 0.7); left: 0;top: 0; display: none;}
    header .mo_gnb_box .mo_nav   {width: 280px; height: calc(100% - 80px); background: black;margin-top: 80px; margin-left: -280px; transition: 0.3s;}
    header .mo_gnb_box.on .mo_nav  {margin-left: 0;}
    header .mo_gnb_box .mo_nav li a    {display: block;padding: 30px; border-bottom: 1px solid white;}
    
    
    #visual .textbox strong {font-size: 90px;}
    #visual .textbox span {font-size: 28px;}
    #visual .textbox p {font-size: 24px;}

    #section1  {padding: 15px;}
    #section2  {padding: 15px;}
    #section3  {padding: 15px;}

    #section1 h2  {font-size: 30px;}


    #section2 .centerbox1200    {flex-direction: column;}
    #section2 .centerbox1200 .textbox   {flex-basis: 0;}
    #section2 .centerbox1200 .textbox strong  {font-size: 55px;}
    #section2 .centerbox1200 .textbox p   {font-size: 18px;}
    #section2 .centerbox1200 .textbox a {font-size:18px;}
    #section2 .content {flex-basis: auto;}
    #section2 .centerbox1200 .swiper {margin-left: 0;margin-right: 0;}


    #section3 .centerbox1200 h2  {font-size: 30px;}
    #section3 .centerbox1200 .content li .thumb  {font-size: 30px;}
    #section3 .centerbox1200 .content li .thumb  { width: 80px;height: 80px;flex-shrink: 0;/* flex shrink :flex grow 반대 */ margin-right: 20px;}
    #section3 .centerbox1200 .content li .date  {display: none;}
    #section3 .centerbox1200 .content li .name  {display: none;}
    #section3 .centerbox1200 .content li .num  {align-items: flex-start;}
    #section3 .centerbox1200 .content li a article h3 {font-size: 30px;}
    #section3 .centerbox1200 .content li a article .cont    {font-size: 18px; line-height: 1.5;}

    footer .content strong {font-size: 16px;}
}

@media screen and (max-width: 509px){
    header .centerbox1200 h1   {width: 100px; height: 100px; object-fit: cover; }


    #visual .textbox strong {font-size: 40px; margin-bottom: 10px;}
    #visual .textbox span {font-size: 18px; margin-bottom: 10px;}
    #visual .textbox p {font-size: 14px;}

    #section3 .centerbox1200 .content li a   {display: flex; flex-direction: column; justify-content: center; align-items: center;}
    #section3 .centerbox1200 .content li a .num {font-size: 20px; margin-bottom: 10px; margin-right: 45px; margin-left: 20px;}
    #section3 .centerbox1200 .content li a .thumb   {width: 150px;height: 150px;margin-right: 45px;margin-left: 20px;}
    #section3 .centerbox1200 .content li a article  {display: flex; justify-content: center; flex-direction: column;align-items: center; text-align: center;}
    #section3 .centerbox1200 .content li a article h3   {font-size: 24px;}
    #section3 .centerbox1200 .content li a article .cont    {font-size: 20px; word-break: keep-all;}
    #section3 .centerbox1200 .content li a.date  {display: none;}
    #section3 .centerbox1200 .content li a.name  {display: none;}

    footer .content strong {font-size: 14px;}
}
