@charset "UTF-8";


/* subpage */
header .header_sub {
    position: relative;
}
header .header_sub nav .gnb > li >a {color: white;}

#visual_sub    {
    height: 180px;
    background:url(../images/sub_visual.jpg) no-repeat center center;
    margin-top: 250px;
}
#visual_sub .centerbox1200 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.centerbox1200 .sub_text {transform: translate(0,0px) skewY(0deg); overflow: hidden; animation: textAni 1.8s;}
@keyframes textAni {
    0% {opacity: 0;}
    30% {opacity: 0;transform: translate(0,-90px) skewY(-10deg); }
    100% {opacity: 1;transform: translate(0,0px) skewY(0deg); }
}
#visual_sub .sub_text   {
    color: #fff;
    font-size: 50px;
    letter-spacing: 10px;
}
#visual_sub .bread   {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 25px;
}
#visual_sub .bread span   {
    color:white;
}


/* sectionbox_sub */

#section_box_sub {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section_box_sub h2 {
    background: url(../images/sub_cisual.png) no-repeat;
    font-size: 35px;
    color: #4a60d8;
    padding: 16px 30px;
    margin: 50px 0 ;
    position: relative;
}
#section_box_sub h2 span { position: absolute;background:#4a60d8;}

/* 애니메이션 */

#section_box_sub h2 span.top {top: 0px; left: 0; width: 0; height: 1px; animation: h2Top 1s forwards;}

#section_box_sub h2 span.top {top: 0px; left: 0; width: 0; height: 1px; animation: h2Top 1s forwards;}
@keyframes h2Top {
    0% {width: 0; height: 1px; left: 0; top: 0;}
    50% {width: 100%; height: 1px; left: 0; top: 0;}
    100% {width: 0; height: 1px; left: 100%; top: 0;}
}
#section_box_sub h2 span.right {top: 0px; right: 0; width: 0; height: 1px; animation: h2Right 1s forwards; animation-delay: 0.5s;}
@keyframes h2Right {
    0% {width: 1px; height: 0; right: 0; top: 0;}
    50% {width: 1px; height: 100%; right: 0; top: 0;}
    100% {width: 1px; height: 30%; right: 0; top: 70%;}
}
#section_box_sub h2 span.bottom {bottom: 0px; right: 0; width: 0; height: 1px; animation: h2Bottom 1s forwards;}
@keyframes h2Bottom {
    0% {width: 0; height: 1px; right: 0; bottom: 0;}
    50% {width: 100%; height: 1px; right: 0; bottom: 0;}
    100% {width: 0; height: 1px; right: 100%; bottom: 0;}
}
#section_box_sub h2 span.left {bottom: 0px; left: 0; width: 0; height: 1px; animation: h2Left 1s forwards; animation-delay: 0.5s;}
@keyframes h2Left {
    0% {width: 1px; height: 0; left: 0; bottom: 0;}
    50% {width: 1px; height: 100%; left: 0; bottom: 0;}
    100% {width: 1px; height: 30%; left: 0; bottom: 70%;}
}


#section_box_sub h2::before {content: ""; position: absolute; width: 0; height: 1px; top: 0; left: 0; animation: h2Before 0.5s forwards; background: #4a60d8; animation-delay: 1s;}
@keyframes h2Before {
    0% {width: 0;}
    100% {width: 20%;}
}
#section_box_sub h2::after {content: ""; position: absolute; width: 0; height: 1px; bottom: 0; right: 0; animation: h2After 0.5s forwards; background: #4a60d8; animation-delay: 1s;}
@keyframes h2After {
    0% {width: 0;}
    100% {width: 20%;}
}

#section_box_sub .snb {
    width: 100%;
    position: relative;
}
#section_box_sub .snb ul {max-width: 1200px; display: flex; justify-content: center; margin: 0 auto; }
#section_box_sub .snb ul li {font-size: 18px; color: #4a60d8;}
#section_box_sub .snb ul li a {padding: 10px 2.5vw; display: block; border-right: 1px solid #4a60d8; }
#section_box_sub .snb ul li:last-child a {border: 0;}
#section_box_sub .snb .snb_line {position: absolute;  height: 2px; background: #4a60d8; transition: 0.3s; left: 0;}

/* 선생님꺼 */
/* #section_box_sub .snb .snb_bg   {
    position: absolute;
    width: 100px;
    height: 2px;
    background: #4a60d8;
    transition: 0.3s;
} */
/* 내꺼 */
#section_box_sub .snb ul li:hover   {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #3a4db8 100%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border: 0;
}
#section_box_sub .snb ul li a {
    font-size: 24px;
    display: block;
}
#section_box_sub .snb ul li:last-child a    {border-right: 0;} 



#section_box_sub .content {
    padding: 6.25vw 0;
    color: #fff;
}

#section_box_sub .centerbox1200   {
    display: flex;
    gap: 50px;
}
/* 전시소개 */
.exhibition .text_box    {
    margin-top: 30px;
    flex-basis: 410px;
    background: url(../images/fire.png) no-repeat center left;
    background-size: contain;
}
.exhibition .text_box .ex   {
    font-size: 18px;
    display: block;
    margin-bottom: 30px;
}
.exhibition .text_box strong {
    font-size: 50px;
    font-weight: lighter;
    display: block;
    margin-bottom: 30px;
    line-height: 1.5;
}
.exhibition .text_box p {
    font-size: 20px;
    line-height: 1.8;
    word-break: keep-all;
}
.exhibition .img_box    {
    margin-top: 30px;
    flex-basis: 740px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.exhibition .img_box figure.img1 {
    width: 250px;
    height: 400px;
    position: absolute;
    border: 5px solid #fff;
    left: 0;
    top: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
    object-fit: cover;  
}
.exhibition .img_box figure.img1 img {
    width: 100%;
    height: 100%;
}
.exhibition .img_box figure.img2   {
    width: 550px;
    height: 500px;
    border: 5px solid #fff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(252, 252, 252, 0.7); 
}
.exhibition .img_box figure.img2 img   {
    height: 100%;
    width: 100%;
}
/* 작가소개 */
.artist_box {
    display: flex;
    flex-direction: column;
}
.artist_box .artist  {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.artist_box .artist figure {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 40px;
    overflow: hidden;
}
.artist_box .artist figure img {
    width: 100%;
    height: 100%;
}
.artist_box .artist .ex {
    color: white;
    font-weight: bold;
    font-size: 60px;
}
.artist_box .artist strong {
    color: white;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}
.artist_box .artist p {
    color: white;
    font-size: 18px;
    line-height: 1.5;
    word-break: keep-all;
    text-align: center;
}



/* 특별전 */

.special .centerbox1200 {
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.special .menu_box {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.special .menu_box ul   {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.special .menu_box li   {
    width: 600px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.special .menu_box li:first-child  {
    border-right: 1px solid #4a60d8;
}
.special .menu_box li:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #3a4db8 100%);
}
.special .menu_box li a     {
    width: 100%;
    text-align: center;
    font-size: 30px;
    display: block;
    cursor: pointer;
    line-height: 82px;
}
.special {
    position: relative;
    width: 80%;
}

.special .background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}
.special .text_box {
    /* background: url(../images/smoke1.png) no-repeat right center;
    background-size: cover; */
    margin: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.special .text_box h3 {
    font-size: 18px;
    color: #4b62e1;
    font-weight: normal;
    margin-bottom: 30px;
}
.special .text_box strong {
    font-size: 50px;
    text-shadow: 
                0 0 5px rgba(54, 101, 255, 0.5), /* Outer glow */
                0 0 10px rgba(43, 74, 255, 0.4),
                0 0 15px rgba(48, 25, 255, 0.3),
                0 0 20px rgba(255, 255, 255, 0.2),
                0 0 25px rgba(255, 255, 255, 0.1),
                3px -3px 50px rgba(68, 71, 255, 0.5), /* Drop shadow */
                6px -6px 100px rgba(17, 33, 184, 0.3);
                filter: lighten(rgba(68, 71, 255, 0.5));
}
.special .text_box p    {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    line-height: 2;
}



/* text_box2 */
.special .text_box2 {
    /* background: url(../images/smoke1.png) no-repeat right center;
    background-size: cover; */
    margin: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.special .text_box2 h3 {
    font-size: 18px;
    color: #e14b4b;
    font-weight: normal;
    margin-bottom: 30px;
}
.special .text_box2 strong {
    font-size: 50px;
    text-shadow: 
                0 0 5px rgba(255, 54, 54, 0.5), /* Outer glow */
                0 0 10px rgba(199, 38, 38, 0.4),
                0 0 15px rgba(172, 6, 6, 0.3),
                0 0 20px rgba(255, 255, 255, 0.2),
                0 0 25px rgba(255, 8, 8, 0.1),
                3px -3px 50px rgba(170, 0, 0, 0.5), /* Drop shadow */
                6px -6px 100px rgba(184, 17, 17, 0.3);
                filter: lighten(rgba(255, 68, 68, 0.5));
}
.special .text_box2 p    {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
    line-height: 2;
}
/* edu */

.edu .centerbox1200 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edu .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}
.edu .info figure {
    width: 30%; /* 각 figure 요소가 3등분되도록 너비 조정 */
    height: 400px; /* height 자동 조정 */
    margin: 10px; /* figure 간의 간격을 확보 */
}
.edu .info figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.edu .info figcaption {
     display: flex;
     flex-direction: column;
     margin-top: 20px;
    }
.edu .info figcaption h4 {
    font-size: 24px;
    font-weight: lighter;
    font-family: 'TheJamsil3Regular';
}
.edu .info figcaption p {
    margin-top: 20px;
    font-family: 'TheJamsil3Thin';
    font-size: 16px;
    line-height: 1.5;

}

/* map */
.map .centerbox1200 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map figure {
    width: 1000px;
}
.map figure img   {
    width: 100%;
}
.map figcaption {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: left;
}
/* 오시는길 */
.direction_box {width:calc(100vw - 40px); color: white;}
.direct_box {color: white;}
.direct_box a {
    color: white;
}


/* 로그인 */
#visual_login    {
    height: 180px;
    background:url(../images/fhrmdls.png) no-repeat center center;
    margin-top: 250px;
}
#visual_login .centerbox1200 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}
.centerbox1200 .sub_text {transform: translate(0,0px) skewY(0deg); overflow: hidden; animation: textAni 1.8s;}
@keyframes textAni {
    0% {opacity: 0;}
    30% {opacity: 0;transform: translate(0,-90px) skewY(-10deg); }
    100% {opacity: 1;transform: translate(0,0px) skewY(0deg); }
}
#visual_login .sub_text   {
    color: #fff;
    font-size: 50px;
    letter-spacing: 10px;
}
#visual_login .bread   {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 25px;
}
#visual_login .bread span   {
    color:white;
}
.login_page {width: 100%;}
.login_page .centerbox1200 {justify-content: center;}
.login_page .centerbox1200 {border: 1px solid #68BFCB; background: #fff; border-radius: 15px; padding: 50px; }
.login_page .centerbox1200 fieldset {display: flex;  gap: 30px; flex: 1;}

/* 로그인박스1 */
.login_page .login_box {display: flex; flex-direction: column; align-items: center; padding: 100px; border: 2px solid #ddd; width: 400px;  border-radius: 15px;}
.login_page .login_box h3 {margin-bottom: 50px; font-family: 'TheJamsil2Light';color: #000; text-align: center; line-height: 2;}
.login_page .login_box h3 span {color: #646464; font-size: 14px; font-weight: lighter;}
.login_page .login_box ul {width: 100%;}
.login_page .login_box ul li {margin-bottom: 14px; position: relative;}
.login_page .login_box li input[type="text"],
.login_page .login_box li input[type="password"] {width: 100%; border: 1px solid #ddd; border-radius: 50px; font-size: 18px; text-indent: 20px; height: 50px;}
.login_page .login_box ul li .view_pw {position: absolute; right: 20px; top: 13px; cursor: pointer;}
.login_page .login_box ul li .hide_pw {position: absolute; right: 20px; top: 13px; display: none; cursor: pointer;}

.login_page .login_box li.idcheck {display: flex;align-items: center; gap: 10px;}
.login_page .login_box li.idcheck label {font-family: 'TheJamsil3Regular'; color: #000;}
.login_page .login_box li input[type="checkbox"] {width: 20px;height: 20px; display: none;}

.btn1 {padding: 15px 75px; background: #4a60d8; border-radius: 50px; color: #fff; font-size: 16px; margin-top: 50px;font-family: 'TheJamsil3Regular';}
.login_page .login_box .link_box {height: 50px; display: flex;align-items: center; gap: 40px; }

.login_page .login_box .link_box a {position: relative; font-family: 'TheJamsil3Regular'; color: #000;}
/* .login_page .login_box .link_box a:before {content: ""; width: 4px; height: 4px; border-radius: 50%; background: #ddd; position: absolute; left: -10px; top: 40%;} */

.login_page .login_box li span.check {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #aaa;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.1s;
}
.login_page .login_box li input[type="checkbox"] {
    display: none; /* 기본 체크박스를 숨김 */
}

/* 체크박스가 체크되었을 때 label의 span.check 요소의 스타일 변경 */
.login_page .login_box li input[type="checkbox"]:checked + label span.check {
    border: 1px solid skyblue;
    color: white;
    background: skyblue;
}

/* 로그인박스2 */

.login_page .login_box2 {display: flex; flex-direction: column; align-items: center; padding: 100px; border: 2px solid #ddd; border-radius: 15px; width: 300px;}
.login_page .login_box2 h3 {margin-bottom: 50px; font-family: 'TheJamsil2Light';color: #000; text-align: center; line-height: 2;}
.login_page .login_box2 h3 span {color: #646464; font-size: 14px; font-weight: lighter;}
.login_page .login_box2 .icon {display: flex; gap: 40px; align-items: center; justify-content: center;}
.login_page .login_box2 .icon li { width: 50px;height: 50px;background: black;; border-radius: 50%;  text-align: center; line-height: 50px;}
.login_page .login_box2 .icon li a { font-size: 20px;}
.login_page .login_box2 .login_text_box {display: flex; flex-direction: column; margin-top: 50px; gap: 20px; border: 1px dashed #ddd; padding: 20px; border-radius: 15px;
width: 350px;}
.login_page .login_box2 .login_text_box strong { font-size: 16px; color: #000;  font-family: 'TheJamsil3Light'; text-align: center;}
.login_page .login_box2 .login_text_box p {font-size: 14px; font-family: 'TheJamsil1Thin'; color: #aaa; line-height: 1.5;}




/* 회원가입 */

.join_page {width: 100%;}
.join_page .centerbox1200 {justify-content: center;}
.join_page .centerbox1200 form {width: 800px;}
.join_page .join_box button {color: #fff;}
.join_page .join_box li {display: flex; align-items: center; margin-top: 30px;} 
.join_page .join_box li label {width: 200px; font-family: 'TheJamsil3Regular'; flex-shrink: 0;}
.join_page .join_box li label.pilsu::after {
    content: "'"; color: red; margin-left: 5px;
}


.join_page .join_box li .input_wrap {flex-grow: 1; }

.join_page .join_box li input:not([type="file"]) {width: 100%; border: 1px solid #ddd; border-radius: 50px; font-size: 18px; text-indent: 20px; height: 50px; font-family: 'TheJamsil3Regular';}
.join_page .join_box li input[type="radio"] {width: 20px; height: 20px;}
.join_page .join_box .btn_box {display: flex; justify-content: center;}
.join_page .join_box .gender {display: flex; gap: 20px;}
.join_page .join_box .input_wrap label {width: auto; display: inline-flex; gap: 10px; align-items: center; margin-right: 20px;}

.join_page .join_box li input[type="checkbox"] {width: 20px; height: 20px; margin-right: 15px; align-items: center; }

.join_page .join_box li select {
    cursor: pointer;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #cfd0d3;
    border-radius: 8px;
    background: url(../images/ghost_1618869.png) no-repeat center right 16px;
    background-size: 30px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #1e1e1e;
}
.join_page .join_box li input[type="file"] {display: none;}
.join_page .join_box li input[type="file"] ~ label {
    border-radius: 50px; padding: 0 30px; background: #3a4db8; color: white; height: 50px;
}


.join_page .join_box li .member_rule {border: 1px solid #ddd; border-radius: 0px; white-space: pre-wrap; height: 300px; position: relative; overflow: hidden; width: 100%; font-size: 0;}
.join_page .join_box li .member_rule .rule {overflow: auto; height: 100%; position: absolute; width: 100%; top: 0;left: 0;padding: 12px 16px; font-size: 16px; box-sizing: border-box; font-family: 'TheJamsil1Thin';}

  /* 스크롤바의 폭 너비 */
  .rule::-webkit-scrollbar {
      width: 5px;  
  }
  
  .rule::-webkit-scrollbar-thumb {
      background: rgb(255, 255, 255); /* 스크롤바 색상 */
      border-radius: 10px; /* 스크롤바 둥근 테두리 */
  }
  
  .rule::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.2);  /*스크롤바 뒷 배경 색상*/
  }


  .join_page .join_box li .member_rule textarea {height: 100%; width: 100%; top: 0;left: 0; padding: 12px 16px; font-size: 16px; box-sizing: border-box; font-family: 'TheJamsil1Thin';}






@media screen and (max-width: 1300px) {
    
    #visual_sub .bread {display: none;}

    .exhibition .text_box .ex {margin-bottom: 3vw;}
    .exhibition .text_box strong {font-size: 3.8vw; margin-bottom: 3vw;}
    .exhibition .text_box p {font-size: 2vw; }

    .exhibition .img_box figure.img1  {width: 400px; height: 400px;}
    .exhibition .img_box figure.img2  {width: 500px; height: 500px;}
}

@media screen and (max-width: 768px) {
    
    #visual_sub .sub_text  {font-size: 40px; background:url(../images/sub_visual.jpg) cover; }
    #visual_sub .bread {display: none;;}

    .mo_menu_sub {border: 1px solid #fff;}
    .mo_menu_sub span {background: rgba(0, 0, 0, 0.4);}
    .mo_menu_sub span::before,
    .mo_menu_sub span::after {background: #ddd;}

    .exhibition .centerbox1200 {flex-direction: column;}
    .exhibition .text_box    {background: none; }
    .exhibition .text_box {flex-basis: 0;}
    .exhibition .img_box {flex-basis: 0;}

    .exhibition .text_box strong {font-size: 30px;}
    .exhibition .text_box p {font-size: 16px;}

    /* login */
    .login_page form {width: 80%;}
    .login_page .login_box {width: 100%;}

    .login_page .login_box ul li input[type="text"],
    .login_page .login_box ul li input[type="password"] {width: 100%;}

    /* join */
    .join_page .join_box li label {width: 120px;}
}


@media screen and (max-width: 520px) {
    #section_box_sub .snb ul {
        flex-wrap: wrap;
    }
    #section_box_sub .snb ul li {width: 30%; text-align: center;}
    #section_box_sub .snb ul li:nth-child(3) a {border: 0;}

    .exhibition .img_box figure.img1 {display: none;}
    .exhibition .img_box figure.img2 {width: 100vw - 40px; height: 500px}

     /* join */
     .join_page .join_box li {flex-direction: column; }
     .join_page .join_box li label {width: 100%; margin-bottom: 20px;}
     .join_page .join_box li .input_wrap {width: 100%;}
}